.App {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
  border:1px solid black;
  padding:30px;
  background-color:rgb(168, 30, 203);
  color:white;
}
#but{
  margin-left:15px;
  margin-bottom:15px; 
  background-color:rgb(168, 30, 203);
  color:white;
  border-radius:10px;
}

/* @media screen and (max-width:476px)
{
    #but{
        display:flex;
        margin-bottom:10px;
        flex-wrap: wrap;
    }
  
} */

#wordCount{
  border:1px solid black;
  padding:5px;
}

.wordcount
{
  margin-top:20px;
}

.tabs{
  margin-top:20px;
  display:inline-block;
}